{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Judiciary System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<!-- NAVBAR -->
<nav class="topbar">
    <div class="logo">Judiciary Information System</div>

    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'cases_home' %}">Cases</a></li>
        <li><a href="{% url 'judges_dashboard' %}">Judges</a></li>
        <li><a href="{% url 'registrar_dashboard' %}">Registrar</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>

<div class="container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="msg">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>

</body>
</html>
